.page-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.left-side {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  padding: 3%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d6d6d3;
  background-image: url('../images/banner4.png');
  background-position: 50% 50%;
  background-size: cover;
}

.content-wrapper {
  display: block;
  max-width: 560px;
  margin-right: auto;
  margin-left: auto;
}

.content-wrapper.centercontent {
  position: relative;
  z-index: 10;
  text-align: center;
}

.chapter-name {
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 45px;
  line-height: 50px;
}

.subtitle {
  max-width: 560px;
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 400;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .34);
  color: #000;
}

.author-image {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 70px;
}

.author-name {
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.logo {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
  display: block;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  background-image: url('../images/logo.png');
  background-position: 0px 0px;
  background-size: cover;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.chapters-link {
  position: absolute;
  left: 3%;
  bottom: 5%;
  padding-left: 38px;
  background-color: #fff;
  background-image: url('../images/web-page-menu-icon-75688.png');
  background-position: 8px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  font-family: Nunito, sans-serif;
  color: rgba(37, 37, 37, .84);
  font-weight: 300;
  text-transform: capitalize;
}

